<!--begin::Container-->
<div [ngClass]="footerContainerCSSClasses"
     class="d-flex flex-column flex-md-row align-items-center justify-content-between">
    <!--begin::Copyright-->
    <div class="text-dark order-2 order-md-1">
        <a href="https://www.seabank.com.vn/" target="_blank" class="text-dark-75 text-hover-primary">
            © Copyright by SeABank 2020</a>
    </div>
    <!--end::Copyright-->

    <!--begin::Nav-->
    <div class="nav nav-dark">
        <!--<a href="https://www.seabank.com.vn/" target="_blank" class="kt-footer__menu-link kt-link">
            © Copyright by SeABank 2020
        </a>-->
    </div>
    <!--end::Nav-->
</div>
<!--end::Container-->
